html {
    font-family: 'Jura', sans-serif;
    background-color: white;
    box-sizing: border-box;
    font-size: 1.3em;
    font-weight: 200;
}

body {
    color:#555;
    margin: 0;
    
}

.wrapper {
    background-color:white;
    padding:4em;
    text-align: justify;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}


header {
    font-family: 'Changa', sans-serif;
    text-align: center;
    height:35vh;
    background-image: url(img/alexandru-acea-1097074-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    color: white;
    
}

h1 {
    color:white;
    font-size: 2em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

nav {
    background:#191d21;
    top:0;
    width: 100%;
    /*  transition:all 0.5s;*/
    position: relative;
    z-index: 1;
    
}

body.fixed-nav nav {
    position: fixed;
}

nav ul {
    display:flex;
    list-style: none;
    margin: 0;
    padding:0;
}

nav li {
    flex:1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;
}

nav li:hover {
    background-color: darkorange;
}

li.logo {
    max-width:0;
    overflow: hidden;
    background: white;
    transition: all 0.5s;
    font-weight: 600;
    font-size: .5em;
}

li.logo a {
    color:black;
}

.fixed-nav li.logo {
    max-width:500px;
}

nav a {
    text-decoration: none;
    padding:1em;
    display: inline-block;
    color:white;
    transition:all 0.2s;
    text-transform: uppercase;
}

.empty {
    font-family: 'Changa', sans-serif;
    background-color: none;
    font-size: 1em;
    color: white;
    padding: 1em;
        max-width: 980px;
    margin-left: auto;
    margin-right: auto;

}

#background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url(img/alexandru-acea-1097074-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: -1;
    top: 0px;
}

.dev-container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 30px 30px 30px 30px;
    padding-top: 1em;
    padding-bottom: 1em;
    user-select: none;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr );
    margin: 3em;
}

.grid-dev-item {
    font-size: 1em;
    display: flex;
    flex-flow: column;
    align-items: center;
    transition: .3s ease-in-out;
}

.grid-dev-item:hover {
    transform: rotateY(-360deg);
}

.prj-container {
    user-select: none;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3.3em;
}

.grid-prj-item {
    font-size: .5em;
    opacity: .5;
    border: 1px dashed white;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0em;
    padding: .5em;
    transition: .2s ease-in-out;
}


.grid-prj-item:hover {
    opacity: 1;
    border: 1px dashed darkorange;
}

#bio .fas {
    transition: .2s ease-in;
}

#bio .fas:hover {
    transform: translateX(.2em);
}

.footer {
    padding: .2em;
    font-size: .7em;
    text-align: center;
    border-top: 1px dashed gainsboro;
    background-color: #191d21;
    color: white;
    text-decoration: none;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.footer-item {
    padding: 2em;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.footer-item:hover {
    background-color: darkorange;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: white;
}
a:active {
    color: white;
}

@media (max-width: 800px) {
    body nav {font-size: 1.5em; font-weight: 200;}
    .wrapper {padding: 1em; font-size: 2em; font-weight: 200}
    .dev-container {grid-auto-flow: row; grid-template-columns: 1fr 1fr }
    .grid-dev-item {font-size: 2em; padding: 1em}
    .prj-container {grid-template-columns: 1fr 1fr}
    .footer {font-size: 1em}
}
    